body {
     margin:0;
     padding:0;

}

.container {
     background-color: #FFECEC;
}

.form-items {
     padding: 1rem;
     margin: 0.2rem;
     background-color: #FFBDF7;
     display: flex;
     border:none;

     border-block: solid 2px #FF78C4;
}

.move-icon:hover {
     cursor: grab;
}

.item-left-section {
     display: flex;
     align-items: center;
}

.item-right-section {
     display: flex;
     align-items: center;
}

.disabled {
     opacity: 0.5;
     pointer-events: none;
}

.abled {
     opacity: 1;
     pointer-events: all;
}